
/* The Modal 2 (background) */
.modal2 {
  display: none; /* Hidden by default */
 <!-- position: fixed; /* Stay in place */ -->
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
 <!-- left: 0;
  top: 0; -->
/* width: 100%; /* Full width */
/* height: 100%; /* Full height */
width:1200px
  height:1200px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	}


/* The Close 2 Button */
.close2 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#imgID {
  width: 20%;
  border-radius: 50%;
  align-self: center;
}
